a:not([class]) {
  color: var(--font-color);
  font-size: var(--default-font-size);
  font-family: var(--font-mono);
  font-weight: bold;
  line-break: strict;
  padding-inline: 0.25rem;
  text-decoration: none;

  &::before {
    content: "<";
    font-weight: bold;
  }

  &::after {
    content: "/>";
    font-weight: bold;
  }

  &:hover {
    border-bottom: 3px solid var(--highlight);
  }
  
  &:active {
    border-top: 3px solid var(--highlight);
    background-color: var(--highlight);
  }
}
