@import "assets/normalize.css";

:root {
  --color: black;
  --highlight: hotpink;
  --border-color: black;
  --base-spacing: 1rem;
  --default-font-size: 1rem;
  --shadow: 0.25rem 0.25rem var(--highlight);
}

main {
  padding: var(--base-spacing);
}

/* Link styles */
button {
  position: relative;
  display: inline-block;
  color: var(--color);
  background-color: white;
  border: 3px solid var(--border-color);
  border-radius: 1rem;
  font-size: var(--default-font-size);
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  outline-offset: 3px;
  transition: all 150ms;
}

button:hover {
  box-shadow: var(--shadow);
}

button:active {
  box-shadow: 0 0 var(--highlight);
  transform: translate(0.25rem, 0.25rem);
}
