@import "../../node_modules/normalize.css/normalize";

:root {
  --color: black;
  --highlight: hotpink;
  --highlight-hover: hotpink;
  --highlight-active: hotpink;
  --border-color: black;
  --base-spacing: 1rem;
  --default-font-size: 1rem;
  --headline-font-size-min: 2rem;
  --headline-font-size-max: 3rem;
  --headline-font-size: clamp(
    var(--headline-font-size-min),
    5vw,
    var(--headline-font-size-max)
  );
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: var(--base-spacing);
}

/* Button styles */
button {
  color: var(--color);
  background-color: white;
  border: 3px solid var(--border-color);
  border-radius: 1rem;
  font-size: var(--default-font-size);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  outline-offset: 3px;
  box-shadow: 0.25rem 0.25rem var(--color);

  &:hover {
    box-shadow: 0.125rem 0.25rem var(--highlight);
  }
}

/* Link styles */
a {
  color: var(--color);
  font-size: var(--default-font-size);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding-inline: 0.25rem;
  text-decoration: none;

  &::before {
    content: "<";
    font-weight: bold;
  }

  &::after {
    content: "/>";
    font-weight: bold;
  }

  &:hover {
    border-bottom: 3px solid var(--highlight);
  }
}

h1,
h2,
h3,
h4 {
  font-size: var(--headline-font-size);
  margin-top: 0;
}

h2 {
  --headline-font-size-min: 1.75rem;
  --headline-font-size-max: 2.75rem;
  --headline-font-size: clamp(
    var(--headline-font-size-min),
    5vw,
    var(--headline-font-size-max)
  );
}

h3 {
  --headline-font-size-min: 1.5rem;
  --headline-font-size-max: 2.5rem;
  --headline-font-size: clamp(
    var(--headline-font-size-min),
    5vw,
    var(--headline-font-size-max)
  );
}

h4 {
  --headline-font-size-min: 1.25rem;
  --headline-font-size-max: 2.25rem;
  --headline-font-size: clamp(
    var(--headline-font-size-min),
    5vw,
    var(--headline-font-size-max)
  );
}

p {
  margin: 0;
  line-height: 1.35;
}

blockquote {
  position: relative;
  margin-block: 4rem;
  margin-inline: 3rem;
  line-height: 1.5;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    border-bottom: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
    border-bottom-right-radius: 1rem;
    box-shadow: 0.25rem 0.25rem var(--highlight);
  }

  &::before {
    top: -12px;
    left: -12px;
    transform: rotate(180deg);
  }

  &::after {
    bottom: -12px;
    right:-12px;
  }
}

hr {
  margin-block: 1rem;
}