@use "../../../node_modules/normalize.css/normalize";
@use "foundation/typography";
@use "components/button";
@use "components/link";

:root {
  --color: black;
  --highlight: #59B5C2;
  --border-color: black;
  --base-spacing: 1rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: var(--base-spacing);
}

hr {
  margin-block: 1rem;
}
