@use "../../../node_modules/normalize.css/normalize";
@use "foundation/typography";
@use "components/button";

:root {
  --color: black;
  --highlight: #ffb300;
  --border-color: black;
  --base-spacing: 1rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: var(--base-spacing);
}

/* Link styles */
a {
  color: var(--color);
  font-size: var(--default-font-size);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  line-break: strict;
  padding-inline: 0.25rem;
  text-decoration: none;

  &::before {
    content: "<";
    font-weight: bold;
  }

  &::after {
    content: "/>";
    font-weight: bold;
  }

  &:hover {
    border-bottom: 3px solid var(--highlight);
  }
}

hr {
  margin-block: 1rem;
}
